* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: #ffffff;
}

.header {
  background-color: #ffffff;
  margin: auto -10px;
  padding: 10px 20px;
  box-shadow: 0 0 2px 0 rgb(110, 110, 110);
  flex-direction: row;
  display: flex;
  align-items: center;
}

.header h1 {
  color: #5f6368;
  font-size: 1.5rem;
  font-weight: 600;
}

form {
  position: relative;
  width: 600px;
  margin: 32px auto 50px auto;
  background: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

form input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

form button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  background: rgb(255, 200, 18);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  cursor: pointer;
  outline: none;
}

.note {
  background: #ffffff;
  width: 240px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 16px;
  float: left;
  margin-right: 0;
}

.note h1 {
  font-size: 1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1rem;
  color: #6f212b;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  color: #f88651;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.count {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}


.edit-title {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.edit-content {
  width: 100%;
  border: none;
  resize: vertical;
  font-size: 1rem;
  padding: 8px;
  margin-bottom: 8px;
  min-height: 100px;
}

.edit-actions {
  display: flex;
  justify-content: flex-end;
}

.save-btn,
.close-btn {
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

.save-btn {
  background-color: #5fba7d;
  color: #fff;
}

.close-btn {
  background-color: #ef5350;
  color: #fff;
}

.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  text-align: center;
  width: 30%;
  border-radius: 5px;
  border-color: white;
}

.modal p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;

}

.color-options {
  position: relative;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 40px;
  /* Adjust to position the color palette relative to the button */
  left: 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

/* Additional styles for the Palette button */
.color-options button {
  padding: 5px 10px;
  cursor: pointer;
}